<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div class="main-panel">
        <h1>Posts</h1>
        <div *ngIf="posts.length > 1 else empty" class="posts-container">
            <div *ngFor="let post of posts" class="single-post">
                <h2>{{post.title}}</h2>
                    <div class="post-body">
                        <div [ngSwitch]="post.body.length" class="text-scroll-wrapper">
                            <p class="empty-body" *ngSwitchCase="0">*No body was created*</p>
                            <p *ngSwitchDefault>&emsp;{{post.body}}</p>
                        </div>
                    </div>
                <div class="post-date">
                    <p class="publishDate"><b>{{post.publishDate}}</b></p>
                </div>
            </div>
        </div>
        <ng-template #empty>
            <h2>Currently empty! Add some posts!</h2>
        </ng-template>
    </div>
</body>
</html>